exclude tests/*
exclude docs/**
exclude notebooks/*
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.md
exclude Dockerfile
exclude Guide_containerized_vm.rst
exclude requirements.txt
exclude pyproject.toml
exclude .*
