exclude tests/*
exclude docs/**
exclude notebooks/*
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.md
exclude Dockerfile
exclude Guide_containerized_vm.rst
exclude pyproject.toml
exclude build_linux.sh
exclude wheel_build/*
exclude .*
