adjustText
anndata>=0.7.1
Cython
docopt
demuxEM
forceatlas2-python
gprofiler-official
harmony-pytorch
hnswlib
importlib-metadata
joblib
lightgbm>=2.2.1
loompy
louvain>=0.7.0
matplotlib>=2.0.0
MulticoreTSNE-modified
natsort
numba
numpy
pandas>=0.24
pegasusio
pyarrow
pybind11
python-igraph
scanorama
scikit-learn>=0.23.2
scikit-misc
scipy
scrublet
seaborn
setuptools
statsmodels
torch
umap-learn>=0.4
xlrd
xlsxwriter
