adjustText
anndata>=0.7.1
Cython
docopt
demuxEM
hnswlib
importlib_metadata>=0.7; python_version < '3.8'
psutil
threadpoolctl
joblib>=0.14
lightgbm>=2.2.1
loompy
leidenalg
matplotlib>=2.0.0
natsort
numba
numpy
pandas>=1.2.0
pegasusio>=0.5.1
pybind11
scikit-learn>=0.23.2
scikit-misc
scipy
seaborn
setuptools
statsmodels
umap-learn>=0.5.2
wordcloud
xlsxwriter
python-igraph
