sphinx>=2.0.1
sphinx_rtd_theme>=0.3.1
sphinx-autodoc-typehints
docutils<=0.16
anndata
pandas>=0.21
matplotlib>=2.0.0
scipy
seaborn
statsmodels
scikit-learn
scikit-misc
natsort
joblib
psutil
numba
umap-learn
forceatlas2-python
pyarrow
pegasusio>=0.5.1
demuxEM
